﻿@{
    ViewData["Title"] = "Home Page";
}

<p>
    @Html.ActionLink("Novo Questionário", "Create", "Produtos", new { }, new { @class = "btn btn-success" })
</p>

<table id="quizs" class="table table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Usuario</th>
        </tr>
    </tfoot>
</table>


<button id="btnAjax" type="button" class="btn btn-primary">
    Launch demo modal
</button>

@section Scripts {
    <!-- JS -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $('#btnAjax').click(function ajaxCall() {
            $("#quizs").DataTable({
                "ajax": {
                    "url": "http://localhost:13420/api/Quiz",
                    "type": "GET",
                    "datatype": "json",
                    "columns": ["Id", "title", "user"]
                }
            });
        });
    </script>
}